 <!-- NAV -->
 <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="/">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" routerLink="/">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" routerLink="/list-page">List</a>
      <a class="nav-item nav-link"  routerLink="#">Pricing</a>
      <a class="nav-item nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
    </div>
  </div>
</nav>
 <!-- NAV -->


 <!-- <h1 class="text-center">Hello world I am here</h1> -->
<div class="container">
<router-outlet></router-outlet>
</div>